[Desktop Entry]
Type=Application
Name=fluttervk
Comment=A new Flutter project.
Icon=com.zensonaton.fluttervk
Exec=/usr/bin/com.zensonaton.fluttervk
X-Nemo-Application-Type=silica-qt5

[X-Application]
Permissions=Audio;Internet;DeviceInfo
OrganizationName=com.zensonaton
ApplicationName=fluttervk
